header {
  background: #fff;
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 1em 0;
}

.logo {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-toggle {
  display: none;
}
.nav-toggle-label {
  position: absolute;
  top: -9px;
  right: 0;
  display: flex;
  align-items: center;
  position: relative;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 2px;
  width: 1.7em;
  border-radius: 2px;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 5px;
}

.nav-toggle-label span::after {
  top: 5px;
}

.nav__list {
  text-align: center;
  background: $dark-color;
  position: absolute;
  z-index: 999;
  width: 100%;
  margin: 0.8em 0 0 0;
  height: 100vh;
  font-size: 18px;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 380ms ease-in-out;
}

.wrapper__nav {
  background: url(/dist/images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.nav__list ul {
  list-style: none;
}

.nav__list li {
  padding-bottom: 2.5em;
}

.nav__list .nav__item--initial {
  padding-top: 2.5em;
}

.nav__list .nav__item--btm {
  padding-top: 1em;
}

.nav__list li:nth-child(3) {
  margin: -1em 0;
}

.nav__link {
  color: $white-color;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  transition: all 220ms ease-out;
}

@media (max-width: 967px) {
  .nav__link:hover,
  .nav__link:focus {
    border: 1px solid $white-color;
    padding: 0.5em 5em;
  }
}

// Navigation Toggle //

.nav-toggle:checked ~ .nav__list {
  transform: scale(1, 1);
}

@media (min-width: 968px) {
  header {
    z-index: 1;
  }

  .nav-toggle-label,
  .nav-toggle {
    display: none;
  }

  .nav__list li,
  .nav__list .nav__item--initial,
  .nav__list.nav__item--btm {
    padding: 0;
    margin: 0;
  }

  nav,
  .nav__list,
  .logo,
  .nav__list--flex {
    display: flex;
    flex-direction: row;
    height: 4vh;
    align-items: center;
  }

  nav {
    justify-content: space-between;
  }

  .nav__list {
    position: relative;
    background: none;
    transform: none;
    margin: 0;
    padding: 0;
    width: 70%;
    justify-content: flex-end;
    transition: unset;
  }

  .nav__item.nav__item--btn.nav__item--btm {
    display: flex;
    padding: 0;
    color: #000000;
  }

  .nav__item--btn {
    border: 2.5px solid #000000;
  }

  .nav__link {
    color: $gray-color;
    font-size: 17px;
    padding-right: 3.2em;
    transition: unset;
    font-weight: 700;
  }

  .nav__link.btn {
    color: #000;
    padding-right: 0;
    margin: 0.6em 1.5em;
  }

  .nav__link:hover,
  .nav__link:focus {
    color: $vio-color;
  }

  .nav__link.padding {
    padding-right: 3.2em;
  }

  .wrapper__nav {
    background: none;
  }
}
