.hero {
  background: $vio-color;

  .hero__img {
    display: flex;
    justify-content: center;
  }

  .hero__img img {
    max-width: 100%;
  }

  .hero__wrapper--top {
    background: url(/dist/images/bg-pattern-intro-left-mobile.svg);
    background-repeat: no-repeat;
  }

  .hero__hr {
    display: none;
  }

  .hero__content {
    width: 90%;
    margin: 0 auto;
  }

  .hero__content h1,
  .hero__content p {
    text-align: center;
  }

  .hero__content h1 {
    color: #fff;
    font-size: 48px;
    line-height: 1.1;
    padding: 2em 0 0 0;
  }

  .hero__content p {
    color: $white-color;
    font-size: 17px;
    line-height: 1.7;
    padding: 0 0 2em 0;
  }
}

@media (min-width: 800px) {
  .hero {
    padding: 10em 0 4em 0;
  }

  .hero .hero__content {
    margin: 0;
  }

  .hero .hero__img {
    width: 40%;
    order: 2;
    display: flex;
    position: absolute;
    right: 0;
    justify-content: end;
  }

  .hero .hero__wrapper--top {
    background: none;
    display: flex;
    width: 52%;
  }

  .hero .hero__hr {
    display: block;
    width: 30%;
    color: $white-color;
    margin: 0;
  }

  .hero .hero__content h1 {
    padding: 1em 0 0 0;
    text-align: start;
    font-size: 69px;
  }

  .hero .hero__content p {
    text-align: start;
  }

  .global__wrapper--btm {
    background: none;
  }

  .global__item--btn {
    text-align: start;
  }
}
